.skills_small_container
{

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: center;
}

.skill_small_box
{
    background-color: rgb(8, 48, 68);
    height:90%;
    width:50%;
    position: relative;
}

.skill_small_box .Skillcomponents
{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    text-align: left;
}

.skill_small_box .gif_click
{
    position: absolute; /* Position the GIF relative to its parent (.skill_small_box) */
    bottom: 0;
    left: 0;
}


@media screen and (max-width:700px)
{
  .text
  {
    font-size: 10px;
  }
}